###### add ignore by Jason ##########
/.idea

/cn/ucaner/github/build/
/cn/ucaner/github/dist/
/cn/ucaner/github/wether.spec

#小猪佩奇打包exe文件忽略
/cn/ucaner/peppapig/peppa.spec
/cn/ucaner/peppapig/dist/
/cn/ucaner/peppapig/build/

# 微信生成报告数据忽略
/cn/wechatreport/data/
/cn/wechatreport/image/
/cn/wechatreport/微信个人数据报告.html

# 环境
/venv/
###### add ignore by Jason ##########


